container_commands:
 01_syncdb:
  command: "django-admin.py syncdb --noinput"
  leader_only: true
 02_collectstatic:
  command: "django-admin.py collectstatic --noinput"

# You can specify any key-value pairs in the aws:elasticbeanstalk:application:environment namespace and it will be 
# passed in as environment variables on your EC2 instances

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: septajawn.settings
  "aws:elasticbeanstalk:container:python":
    WSGIPath: septajawn/septajawn/wsgi.py
