<!DOCTYPE html>
{% load leaflet_tags %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }
</style>

{% leaflet_js %}
{% leaflet_css %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">

    function map_init_basic (map, options) {
        map.locate({
          setView: true, 
          maxZoom: 16,
        });

        function displayStop(stopInfo) { 
            var loc = L.latLng(stopInfo.lat, stopInfo.lng);
            L.marker(loc).addTo(map)
                .bindPopup("<strong>Nearest stop: </strong>" + stopInfo.title).openPopup();
        }

        function displayVehicle(vehicleInfo) { 
            var loc = L.latLng(vehicleInfo.lat, vehicleInfo.lng);
            L.marker(loc).addTo(map)
                .bindPopup("<p><strong>Trolley " + vehicleInfo.title + "</strong></p><p>Heading: " + vehicleInfo.direction + "</p>").openPopup();
        }

        function onLocationFound(e) {
            var radius = Math.floor(e.accuracy / 2);
            L.marker(e.latlng).addTo(map)
                .bindPopup("You are here. (+/- " + radius + "m)").openPopup();
            L.circle(e.latlng, radius).addTo(map);

            $.getJSON("/route/34/nearest/stop", {
               lat: e.latlng.lat,
               lng: e.latlng.lng,
               }).then(displayStop, function() { alert("AJAX user location update failed");});

            $.getJSON("{{request.META.SERVER_NAME.}}/route/34/nearest/vehicle", {
               lat: e.latlng.lat,
               lng: e.latlng.lng,
               }).then(displayVehicle, function() { alert("AJAX trolley location update failed");});
        
        }

        map.on('locationfound', onLocationFound);
    }
</script>
</head>
<body>
    {% leaflet_map "map-canvas" callback="window.map_init_basic" %}
</form>
</body>
</html>
